---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <div class="center extra-padding">
        <img class="pro-img" width="500px" height="281" src={frontmatter.worksImage1.url} alt={frontmatter.worksImage1.alt} />
    </div>
    <div class="badge-div"><span class="badge badge--item">PLATFORM</span>{frontmatter.platform}</div>
    <div class="badge-div"><span class="badge badge--item">ENGINE</span>{frontmatter.engine}</div>
    <slot />
</BaseLayout>

